@viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-0-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font-family: "Adelle Sans", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

body {
  margin: 0;
  background-color: #141518;
}

img {
  display: block;
  width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .3rem .5rem;
  background-color: #d8ad54;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50px;
  cursor: pointer;
}

nav ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.125rem;
  margin-bottom: -1rem;
}

nav li {
  padding: .5em;
}

nav a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #ba4850;
  text-decoration: underline;
}

main {
  background-color: #141518;
  margin-bottom: 1.5rem;
  padding: 0 1rem;
}

main img {
  margin-bottom: 1.5rem;
  border-radius: .3rem;
}

.intro {
  margin: 0 auto 1.5rem;
  margin-top: 3rem;
  max-width: 30em;
  padding: 1rem;
  border-bottom: .1rem solid #d8ad54;
  border-top: .1rem solid #d8ad54;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 5px #999;
}

h1 {
  color: #d8ad54;
  margin-top: 4rem;
  font-weight: lighter;
}

section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
}

article {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #202124;
  padding-bottom: 1rem;
}

h2 {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0 0 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.5rem;
  color: #9ba0a5;
}

article p {
  margin: 0 0 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  color: #9ba0a5;
}

article a {
  border: .2rem;
  color: #fff;
  background-color: #ba4850;
  text-decoration: none;
  padding: .5em 1em .6em;
  margin-top: auto;
  border-radius: 20px;
  margin-right: 1rem;
  margin-left: 1rem;
  transition: transform .5s;
}

article a:hover {
  color: #d8ad54;
  transform: translateY(-10px);
}

footer {
  margin-top: 0;
  border-top: 2rem solid #141518;
  padding: 3rem;
  text-align: center;
  background-color: #202124;
  color: #9ba0a5;
}

@media only screen and (min-width: 38em) {

  header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    align-items: start;
    margin-left: 8%;
  }

  nav {
    align-items: flex-end;
    margin-right: 8%;
  }

  section {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

}
